In [1]:
#Imports


import pandas as pd
from pandas import json_normalize
import requests 
import json
import os
from dotenv import load_dotenv #conda install -c conda-forge python-dotenv
import time
import folium
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster
import os
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

In [2]:
# I want the companies from City 1: Barcelona
# I want the companies from City 2: Amsterdam
# I want the companies from City 3: San Francisco

# I will scrape them from https://gamedevmap.com/index.php?location={CITYNAME}

In [2]:
#SCRAPE 1: BARCELONA
city = "Barcelona"
url_game_barcelona = f"https://gamedevmap.com/index.php?location={city}"
html_bcn = requests.get(url_game_barcelona)
soup = BeautifulSoup(html_bcn.content, "html.parser")
tags = soup.find_all("b")
bcn_companies = [i.getText() for i in tags]
bcn_companies = bcn_companies[6:]

In [83]:
'''reg_company = r">(\w+|\d+)<"
reg_temp = r">([A-Za-z\\s])<"

bcn_companies = re.findall(reg_company, str(tags))
bcn_companies = bcn_companies[5:]

print(len(bcn_companies), bcn_companies)'''

'reg_company = r">(\\w+|\\d+)<"\nreg_temp = r">([A-Za-z\\s])<"\n\nbcn_companies = re.findall(reg_company, str(tags))\nbcn_companies = bcn_companies[5:]\n\nprint(len(bcn_companies), bcn_companies)'

In [3]:
#SCRAPE 2: AMSTERDAM
city = "Amsterdam"
url_game_amsterdam = f"https://gamedevmap.com/index.php?location={city}"
html_ams = requests.get(url_game_amsterdam)
soup = BeautifulSoup(html_ams.content, "html.parser")
tags = soup.find_all("b")
ams_companies = [i.getText() for i in tags]
ams_companies = ams_companies[6:]

In [4]:
#SCRAPE 3: SAN FRANCISCO
city = "San%20Francisco"
url_game_sanfrancisco = f"https://gamedevmap.com/index.php?location={city}"
html_sf = requests.get(url_game_sanfrancisco)
soup = BeautifulSoup(html_sf.content, "html.parser")
tags = soup.find_all("b")
sf_companies = [i.getText() for i in tags]
sf_companies = sf_companies[6:]

In [14]:
#bcn_companies

In [13]:
import requests

url = "https://api.foursquare.com/v3/places/nearby?ll=41.3926679%2C2.1401891&query=2%20Awesome%20Studio"

headers = {
    "accept": "application/json",
    "Authorization": "fsq3+fZhukazIdsdQYC8kjNOyqoI3tfZlCBgktME1Z2NElo="
}

response = requests.get(url, headers=headers).json()

response

{'results': [{'fsq_id': '4d814df8a4e237042fecc6cc',
   'categories': [],
   'chains': [],
   'distance': 1585,
   'geocodes': {'main': {'latitude': 41.39298, 'longitude': 2.159198}},
   'link': '/v3/places/4d814df8a4e237042fecc6cc',
   'location': {'address': 'Provença, 229',
    'admin_region': 'Cataluña',
    'country': 'ES',
    'cross_street': '',
    'formatted_address': 'Provença, 229, 08008 Barcelona Catalonia',
    'locality': 'Barcelona',
    'postcode': '08008',
    'region': 'Catalonia'},
   'name': 'Studio 229',
   'related_places': {},
   'timezone': 'Europe/Madrid'},
  {'fsq_id': '4e6a47d218381ea1bdd4c7f3',
   'categories': [{'id': 17082,
     'name': 'Furniture and Home Store',
     'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/furniture_',
      'suffix': '.png'}}],
   'chains': [],
   'distance': 10780,
   'geocodes': {'main': {'latitude': 41.345631, 'longitude': 2.028168}},
   'link': '/v3/places/4e6a47d218381ea1bdd4c7f3',
   'location': {'address': 'Calle Jordi Rubió I Balaguer 19-21',
    'admin_region': 'Cataluña',
    'country': 'ES',
    'formatted_address': 'Calle Jordi Rubió I Balaguer 19-21, 08830 Sant Boi de Llobregat Catalonia',
    'locality': 'Sant Boi de Llobregat',
    'postcode': '08830',
    'region': 'Catalonia'},
   'name': 'Mobles Studio 19-21',
   'related_places': {},
   'timezone': 'Europe/Madrid'}]}

In [15]:
## REWORK, I WILL KEEP THE CITIES AS MY FAVOURITE, BUT I WILL LOOK FOR THE COMPANIES USING MONGO DB

In [18]:
# Import the database from Mongo
from pymongo import MongoClient
import pandas as pd
import time
client = MongoClient("localhost:27017")
client.list_database_names()
db = client["ironhack"]
database = "ironhack"
collection = "companies"
c = db.get_collection("companies")

In [19]:
result = c.find_one()
result.keys()

dict_keys(['_id', 'name', 'permalink', 'crunchbase_url', 'homepage_url', 'blog_url', 'blog_feed_url', 'twitter_username', 'category_code', 'number_of_employees', 'founded_year', 'founded_month', 'founded_day', 'deadpooled_year', 'tag_list', 'alias_list', 'email_address', 'phone_number', 'description', 'created_at', 'updated_at', 'overview', 'image', 'products', 'relationships', 'competitions', 'providerships', 'total_money_raised', 'funding_rounds', 'investments', 'acquisition', 'acquisitions', 'offices', 'milestones', 'video_embeds', 'screenshots', 'external_links', 'partners'])

In [41]:
# as there are not many gaming comp in AMS and BCN --> select Game + WEB // LDN will keep only Gaming
cond1 = {"category_code": {"$regex": "game"}}
cond2 = {"category_code": {"$regex": "web"}}
cat_cond = [cond1, cond2]
cat_cond1 = {"$or": cat_cond}
cond3 = {"offices.0.city": {"$regex": "Barcelona"}}
all_cond = [cat_cond1, cond3]

bcn = list(c.find({"$and": all_cond}, {"_id":0, "name":1, "offices.latitude":1,"offices.longitude":1,"offices.city":1}))

In [43]:
cond1 = {"category_code": {"$regex": "game"}}
cond2 = {"category_code": {"$regex": "web"}}
cat_cond = [cond1, cond2]
cat_cond1 = {"$or": cat_cond}
cond3 = {"offices.0.city": {"$regex": "Amsterdam"}}
all_cond = [cat_cond1, cond3]

ams = list(c.find({"$and": all_cond}, {"_id":0, "name":1, "offices.latitude":1,"offices.longitude":1,"offices.city":1}))

In [48]:
cond1 = {"category_code": {"$regex": "game"}}

cond3 = {"offices.0.city": {"$regex": "London"}}
all_cond = [cat_cond1, cond3]

ldn = list(c.find({"$and": all_cond}, {"_id":0, "name":1, "offices.latitude":1,"offices.longitude":1,"offices.city":1}))

In [81]:
biglist = []
for d in bcn:
    biglist.append(d)
for d in ams:
    biglist.append(d)
for d in ldn:
    biglist.append(d)
df = pd.DataFrame(biglist)

In [82]:
df["offices"].shape[0]

161

In [83]:
city = []
latitude = []
longitude = []
i=0
while i < df["offices"].shape[0]:
    city.append(df["offices"][i][0]["city"])
    latitude.append(df["offices"][i][0]["latitude"])
    longitude.append(df["offices"][i][0]["longitude"])
    i+=1
df["city"] = city
df["latitude"] = latitude
df["longitude"] = longitude
df

,name,offices,city,latitude,longitude
0,Splendia,"[{'city': 'Barcelona', 'latitude': None, 'long...",Barcelona,NaN,NaN
1,Wuapi,"[{'city': 'Barcelona', 'latitude': 41.387917, ...",Barcelona,41.387917,2.169919
2,Jobisjob,"[{'city': 'Barcelona', 'latitude': 41.487094, ...",Barcelona,41.487094,2.077320
3,LingusTV,"[{'city': 'Rubi (Barcelona)', 'latitude': None...",Rubi (Barcelona),NaN,NaN
4,Qajack,"[{'city': 'Barcelona', 'latitude': None, 'long...",Barcelona,NaN,NaN
...,...,...,...,...,...
156,STIFX,"[{'city': 'London', 'latitude': None, 'longitu...",London,NaN,NaN
157,Keen Software House,"[{'city': 'London', 'latitude': 51.5220763, 'l...",London,51.522076,-0.115300
158,New Toy,"[{'city': 'London', 'latitude': None, 'longitu...",London,NaN,NaN
159,PureSolo,"[{'city': 'London', 'latitude': None, 'longitu...",London,NaN,NaN
160,Fotothing,"[{'city': 'London', 'latitude': None, 'longitu...",London,NaN,NaN

In [85]:
df.drop(columns=["offices"],inplace=True)
df.dropna(inplace=True)
df

                    name       city   latitude  longitude
1                  Wuapi  Barcelona  41.387917   2.169919
2               Jobisjob  Barcelona  41.487094   2.077320
5             Bermi Labs  Barcelona  41.538143   2.452718
8                Tractis  Barcelona  41.376200   2.189732
9               Neurotic  Barcelona  41.388738   2.175619
..                   ...        ...        ...        ...
152           Greenvoice     London  51.514735  -0.087424
153          GetItWithMe     London  51.579373  -0.116242
154          Enternships     London  51.521528  -0.103822
155           Bandstocks     London  51.514213  -0.126185
157  Keen Software House     London  51.522076  -0.115300

[106 rows x 4 columns]

In [87]:
df["city"].value_counts()

London            78
Amsterdam         17
Barcelona          9
London W11 2HX     1
London,            1
Name: city, dtype: int64

In [ ]:
import requests

url = f"https://api.foursquare.com/v3/places/nearby?ll={lat}%2C{long}&query={query}"

headers = {
    "accept": "application/json",
    "Authorization": f"{key}"
}

response = requests.get(url, headers=headers)

print(response.text)